/* global styles in this sheet */
/* example: background color, font family, fontsize, color etc */
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  overflow: hidden;
}
.main {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.outerHeading {
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  height: 120px;
  width: 320px;
  border-radius: 10px;
}
.Heading {
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  /* background-color: #1b1b1b; */
  border-radius: 6px;
}

.innerHeading {
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  animation: animate 1.5s linear infinite;
}
.show2 {
  display: grid;
  justify-content: center;
  place-items: center;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  height: 100px;
  width: 475px;
  border-radius: 10px;
  animation: animate 1.5s linear infinite;
}
.counterdiv {
  margin-top: 6px;
  background-color: #1b1b1b;
  height: 85px;
  width: 460px;
  text-align: center;
  line-height: 85px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 6px;
}

.showCounter {
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.counter {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100%;
  width: 100%;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
.buttonDiv {
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  margin-left: 70px;
  border-radius: 10px;
}
.innerBtn {
  display: grid;
  justify-content: center;
  place-items: center;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  width: 140px;
  height: 70px;
  border-radius: 10px;
  animation: animate 1.5s linear infinite;
}
.btn {
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 60px;
  width: 130px;
  border-radius: 10px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
}
.aboveBtn {
  background-color: #1b1b1b;
  height: 60px;
  width: 130px;
  border-radius: 10px;
}

/* navbar */

.nav {
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 16px;
}

.nav-link {
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .innerHeading {
    font-size: 37px;
  }
  .show2 {
    width: 330px;
  }
  .counterdiv {
    width: 320px;
    font-size: 37px;
  }
  .counter {
    display: block;
    margin-top: 400px;
    margin-left: 35px;
  }
  .buttonDiv {
    margin-top: 20px;
    margin-left: 100px;
    width: 140px;
  }
  .innerBtn {
    /* width: 200px; */
  }
  .btn {
    font-size: 37px;
  }
}
